
<div class="top-wrapper">
<div class="welcome">
  <h1>WELCOME MOVIE LOVERS.</h1>
</div>
</div>

<br />

<h4 class= "spotlight">Spotlight | Movies of the Month:</h4>

<div class="spotlightimages">
    <ul>
        <li><%= link_to image_tag("https://content.linkedin.com/content/dam/me/learning/blog/2018/april/BlackPantherLogo/Black.Panther.Logo.9.jpeg", :style => "width: 250px; height: 140px; padding: 20px; display: block; margin: auto;"), movie_path(7) %></li>
        <li><%= link_to image_tag("https://piercingmetal.com/wp-content/uploads/2017/11/Logo-A-Quiet-Place-2018.jpg", :style => "width: 250px; height: 140px; padding: 20px; display: block; margin: auto;"), movie_path(8) %></li>
        <li><%= link_to image_tag("https://vignette.wikia.nocookie.net/marveldatabase/images/4/45/Avengers_Infinity_War_logo_001.jpg/revision/latest?cb=20160730005358", :style => "width: 250px; height: 140px; padding: 20px; display: block; margin: auto;"), movie_path(9) %></li>
        <li><%= link_to image_tag("http://s3-us-west-2.amazonaws.com/media-comicbook/2015/08/incredibles2logo-147954.png", :style => "width: 250px; height: 140px; padding: 20px; display: block; margin: auto;"), movie_path(10) %></li>
    </ul>
</div>
